*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The side navigation menu */

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(59, 49, 49, 0.829);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.sidenav a{
    text-decoration: none;
    color: rgb(209, 195, 195);
    display: block;
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    transition: 0.3s;
}
.sidenav a:hover{
    color: rgb(255, 255, 255);
}
.sidenav .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.openbtn{
    cursor: pointer;
    font-size: 30px;
    
}

@media screen and (max-height:450px){
    .sidenav{
        padding-top: 15px;
    }
    .sidenav a{
        font-size: 18px;
    }
}